/* test 23 */
body {
    background-color: white;
}

h1 {
    color:#353b37;
    text-align: center;
}

.main-menu {
    font-size: 15pt;
    list-style: none;
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0893c2;
}

a:before {
    text-decoration: none;
    text-decoration-style: none;
}

a:after {
    text-decoration: none;
    text-decoration-style: none;
}

a:visited {
    text-decoration: none;
    text-decoration-style: none;
}

.center-block {
    position:relative;
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
}
